**.*trace
**/bin/
**/target/
**.log.properties
**git.properties
**/.antlr-generator-*.jar
**/target/
**/.metadata/

**/emf-gen/**/.gitignore
**/src-gen/**/.gitignore
**/git.properties
**/*.java._trace
**/*.log
**/*.log.properties

**/bin/
**/build/
*.class
*.ctrl
**/Debug/
.DS_Store
*.ear
*.war

**/*.*bin


